body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.dream-paragraph {
    padding-right: 180px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.first-image {
    width: 80%;
    margin-top: 35px;
}

.second-image {
    width: 80%;
    margin-top: 20px;
}

.link-button {
    text-decoration: none;
    /* background-color: tomato; */
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}